img{
    height: auto;
    width: auto;
    display: block;
    min-height: 300px;
    max-width: 75%;
    max-height: 500px;
}

.carousel-indicators li  {
    background-color: red;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: red;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid red;
  background-image: none;
  background-color: red;
}


