.aboutMeJumbo  {
    /* background-color: white; */
    background: rgba(157, 157, 173, 0.75);
    border-radius: 50px;
    /* border-style: solid; */
    /* border-color: #ac7339; */
}

.portraitCard{
    position: relative;
    height: auto ;
    width: auto;
    max-width: 340px;
    max-height: 100%;
    margin-left: 25%
}


.textCard{
    position: relative;
    margin-right: 25%;
}

.iconImg {
    min-width: auto;
    min-height: auto;
}

.col h2 {
    font-weight: 400;
}

p {
    color: grey;
}

